            
            
<header class="bg-indigo-600">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=white" alt="">
        </a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <p *ngIf="wallet !== undefined && wallet !== null && wallet !== ''"> {{ wallet }} </p>
        <a *ngIf="wallet === undefined || wallet === null || wallet === ''" (click)="connectWallet()" class="text-sm font-semibold leading-6 text-white cursor-pointer">Connect <span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>
  </header>
  
  
            